<div class="container">
  <div class="login">
    <h5>Faça login para ver informações sobre seu time</h5>
    <p>Para acessar a aplicação, crie uma conta na <a href="https://dashboard.api-football.com/register"
        target="_blank">API-Football</a>, e utilize a sua key para realizar login</p>
  
    
    <form (ngSubmit)="onSubmit()" [formGroup]="formulario">

      <div class="campo">
        <label for="key" [ngClass]="{'error-message': key.invalid || hasError}">* Key</label>
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Digite sua key" formControlName="key" id="key">
        <button class="showButton"
          (mouseover)="showPassword = true"
          (mouseout)="showPassword = false"
          type="button"
        >
          Mostrar
        </button>
        <figcaption class="error-message" *ngIf="key.invalid">O preenchimento da key é obrigatório!</figcaption >
        <figcaption class="error-message" *ngIf="hasError">Key inválida, tente novamente!</figcaption >
      </div>

      <ng-template [ngIf]="isLoading">
        <app-loading></app-loading>
      </ng-template>      <button type="submit" class="submitButton" [disabled]="key.invalid || isLoading">Entrar</button>
    </form>
  </div>
</div>